footer {
  padding-top: 2.0rem;
  padding-bottom: 1.5rem;

  .credit {
    @include respond-to('xs') { text-align: right; }

    a {
      color: $yellow;

      &:hover, &:focus {
        text-decoration: none;
        color: $purple;
        transition: color 0.5s ease-out;
      }
    }
  }
}